.listCon{
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    .listDiv{
    width:100%;
    padding:0 10px;
    margin:10px auto;
        display: flex;
        background-color: #fff;
        border-radius: 5px;
        flex-flow: column nowrap;
        img{
            width:40%;
            text-align: center;
        }
        p{
            font-size: 14px;
            line-height: 30px;
        }
        span{
            font-size: 12px;
            line-height: 20px;

        }
    }
}
.listC{
    height:100%;
}
.headArrow,.footArrow{
    height:50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
    padding-top:17px;
    b{
        font-size: 12px;
        line-height: 16px;
    }
    img{
        height: 16px;
        width:16px;
    }
}
.up{
    transform: rotate(180deg);
}