<div class="home fnavActive">
    <a href="#/index/home">
    <i class="yo-ico">&#xe6ae;</i>
    <span>首页</span>
   </a>
  </div>
  <div  class="classes">
    <a href="#/index/home/classes">
    <i class="yo-ico">&#xe60a;</i>
    <span>分类</span>
  </a>
  </div>
  <div class="goods">
    <a href="#/index/home/goods">
    <i class="yo-ico">&#xe7de;</i>
    <span>识物</span>
  </a>
  </div>
  <div class="carts">
    <a href="#/index/home/carts">
    <i class="yo-ico">&#xe63f;</i>
    <span>购物车</span>
  </a>
  </div>
  <div class="people">
    <a href="#/index/home/people">
    <i class="yo-ico">&#xe7ae;</i>
    <span>个人</span>
  </a>
  </div>