<div class="navCont">
    <nav class="horScroll">
      <ul>
        <li><a class="navActive"ref="#/index/home">推荐</a></li>
        <li><a href="#/index/home/list">家居生活</a></li>
        <li><a href="#/index/home/list">服饰鞋包</a></li>
        <li><a href="#/index/home/list">酒水美食</a></li>
        <li><a href="#/index/home/list">个护清洁</a></li>
        <li><a href="#/index/home/list">母婴亲子</a></li>
        <li><a href="#/index/home/list">运动旅行</a></li>
        <li><a href="#/index/home/list">数码家电</a></li>
        <li><a href="#/index/home/list">全球精选</a></li>
        <li><a href="#/index/home/list">母婴亲子</a></li>
      </ul>
    </nav>
  </div>
    <div class="mnav">
      <p>全部频道</p>
      <div class="navMain">
        <span>推荐</span>
        <span>家居生活</span>
        <span>服饰鞋包</span>
        <span>酒水美食</span>
        <span>个护清洁</span>
        <span>母婴亲子</span>
        <span>运动旅行</span>
        <span>数码家电</span>
        <span>全球精选</span>
      </div>
    </div>
    <div class="navdown">
      <p><i class="yo-ico">&#xe52e;</i></p>
    </div>