<header>
  <div class="head">
    <a class="logo" href="#">
    </a>
    <div class="topSearchIpt">
      <a href="#/index/search">
        <i class="yo-ico">&#xe615;</i>
        <span>搜索商品, 共24977款好物</span>
      </a>
    </div>
    <div class="loginBtn">
     登录
    </div>
  </div>
  <div class="navCon">
    <div class="navCont">
    <nav class="horScroll">
      <ul>
        <li><a class="navActive"ref="#/index/home">推荐</a></li>
        <li><a href="#/index/home/list">家居生活</a></li>
        <li><a href="#/index/home/list">服饰鞋包</a></li>
        <li><a href="#/index/home/list">酒水美食</a></li>
        <li><a href="#/index/home/list">个护清洁</a></li>
        <li><a href="#/index/home/list">母婴亲子</a></li>
        <li><a href="#/index/home/list">运动旅行</a></li>
        <li><a href="#/index/home/list">数码家电</a></li>
        <li><a href="#/index/home/list">全球精选</a></li>
        <li><a href="#/index/home/list">母婴亲子</a></li>
      </ul>
    </nav>
  </div>
    <div class="mnav">
      <p>全部频道</p>
      <div class="navMain">
        <span>推荐</span>
        <span>家居生活</span>
        <span>服饰鞋包</span>
        <span>酒水美食</span>
        <span>个护清洁</span>
        <span>母婴亲子</span>
        <span>运动旅行</span>
        <span>数码家电</span>
        <span>全球精选</span>
      </div>
    </div>
    <div class="navdown">
      <p><i class="yo-ico">&#xe52e;</i></p>
    </div>
  </div>
</header>
<main>
  <div class="slide">
    <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://yanxuan.nosdn.127.net/bb067bbbff867c10b2ffddd36edf75ce.jpg?imageView&amp;quality=75&amp;thumbnail=750x0">
          </div>
          <div class="swiper-slide">
            <img src="https://yanxuan.nosdn.127.net/351b00bbbb554685f9dbdb2e4b418ae5.jpg?watermark&amp;type=1&amp;gravity=northwest&amp;dx=0&amp;dy=0&amp;image=YzBiN2Y3OTJmMWM4MGJjNzM3YmU4MTIwMTNlNDU4NGQucG5n|imageView&amp;quality=75&amp;thumbnail=750x0">
          </div>
          <div class="swiper-slide">
            <img src="https://yanxuan.nosdn.127.net/66826e5088cc797b0722d531fcf2281e.jpg?watermark&amp;type=1&amp;gravity=northwest&amp;dx=0&amp;dy=0&amp;image=YzBiN2Y3OTJmMWM4MGJjNzM3YmU4MTIwMTNlNDU4NGQucG5n|imageView&amp;quality=75&amp;thumbnail=750x0">
          </div>
          <div class="swiper-slide">
              <img src="https://yanxuan.nosdn.127.net/ef5edc640deaaf9141486d22f025ae2c.jpg?watermark&amp;type=1&amp;gravity=northwest&amp;dx=0&amp;dy=0&amp;image=YzBiN2Y3OTJmMWM4MGJjNzM3YmU4MTIwMTNlNDU4NGQucG5n|imageView&amp;quality=75&amp;thumbnail=750x0">
          </div>
          <div class="swiper-slide">
              <img src="https://yanxuan.nosdn.127.net/434d7c4f97cd11b5e0d720c1cc1d61b0.jpg?imageView&amp;quality=75&amp;thumbnail=750x0">
          </div>
          <div class="swiper-slide">
              <img src="https://yanxuan.nosdn.127.net/71a66780a1fcb859987f5675d0b610e4.jpg?watermark&amp;type=1&amp;gravity=northwest&amp;dx=0&amp;dy=0&amp;image=YzBiN2Y3OTJmMWM4MGJjNzM3YmU4MTIwMTNlNDU4NGQucG5n|imageView&amp;quality=75&amp;thumbnail=750x0">
          </div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- slide end -->
  <div class="m-indexServicePolicy" >
    <ul class="g-grow">
      <li class="item">
          <i style="background-image:url(https://yanxuan.nosdn.127.net/a03dd909803b9ac032eba58b7253a2f6.png);"></i>
          <span class="text" >网易自营品牌</span>
        
      </li>
      <li class="item">
            <i style="background-image:url(https://yanxuan.nosdn.127.net/2d0402ffcd52b3ec3b07422681c42a89.png);"></i>
            <span class="text" >30天无忧退货</span>
          
      </li>
      <li class="item">
            <i style="background-image:url(https://yanxuan.nosdn.127.net/eb61ee48e8942dbd1784c9ee75ebe955.png);"></i>
            <span class="text">48小时快速退款</span>
      </li>
     
    </ul>
  </div>
 
  <div class="clasify">
    <a class="kingkong-item mb-9" href="index/details">
        <img class="img" src="https://yanxuan.nosdn.127.net/0044869a58d0551b9eb2cf05d8ecd11b.png">
        <div class="txt">新品首发</div>
    </a>
    <a class="kingkong-item mb-9" href="index/details">
      <img class="img" src="https://yanxuan.nosdn.127.net/ebbc304c4b4ebc29eff65322e31be340.png">
      <div class="txt" >居家生活</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
      <img class=" img" src="https://yanxuan.nosdn.127.net/b8a3a5502c893b286f7e12e23e7bdb95.png">
      <div class="txt" >服饰鞋包</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
      <img class="img" src="https://yanxuan.nosdn.127.net/196c1b0a6e2d75ca55ee975552500631.png">
      <div class="txt" >美食酒水</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
     <img class=" img" src="https://yanxuan.nosdn.127.net/71413e82ada9183f4dc31d92f1cf787d.png">
      <div class="txt">个护清洁</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
      <img class="img" src="https://yanxuan.nosdn.127.net/5e8d77f94ca22ee8e51207682433d51f.png">
      <div class="txt">母婴亲子</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
      <img class=" img" src="https://yanxuan.nosdn.127.net/71413e82ada9183f4dc31d92f1cf787d.png">
      <div class="txt" >运动旅行</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
      <img class="img" src="https://yanxuan.nosdn.127.net/090c2093a322f33beeb6db780db00831.png">
      <div class="txt" >数码家电</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
      <img class=" img" src="https://yanxuan.nosdn.127.net/8f15a031123f1d3a00e3d855aa748853.png">
      <div class="txt" >全球特色</div>
    </a>
    <a class="kingkong-item mb-9" href="#">
      <img class="img" src="https://yanxuan.nosdn.127.net/42f5f89c8ff2feed62a0d15804c10f40.gif">
      <div class="txt">超级会员</div>
    </a>

  </div>

  <div class="m-freshmanModule m-indexFloor">
    <div class="moduleTitle moafter"><span class="txt" >新人专享礼</span></div>
    <div class="content"><a class="left" href="javascript:void(0)">
        <div class="name">新人专享礼包</div>
        <div class="imgWrap">
          <div class="m-lazyload img m-lazyload-loaded"><img
              data-original="//yanxuan.nosdn.127.net/ba4d635ec94ad95b28bfab6500900659.png"
              data-src="//yanxuan.nosdn.127.net/ba4d635ec94ad95b28bfab6500900659.png" class="swiper-lazy"
             src="//yanxuan.nosdn.127.net/ba4d635ec94ad95b28bfab6500900659.png"
            >
          </div>
          <div class="animate"></div>
        </div>
      </a>
      <div class="right">
        <div class="module1">
          <a class="m-activityItem" href="javascript:void(0)" style="background-image:url(?imageView&amp;thumbnail=343x220&amp;quality=75);background-size:100% 100%;">
            <div class="picWrap" >
              <div class="m-lazyload pic m-lazyload-loaded"><img
                  data-original="https://yanxuan.nosdn.127.net/f381bcbd9f2ad78c18e11830c13147ca.png?imageView&amp;thumbnail=200x200&amp;quality=75"
                  data-src="https://yanxuan.nosdn.127.net/f381bcbd9f2ad78c18e11830c13147ca.png?imageView&amp;thumbnail=200x200&amp;quality=75"
                  class="swiper-lazy"
                  src="https://yanxuan.nosdn.127.net/f381bcbd9f2ad78c18e11830c13147ca.png?imageView&amp;thumbnail=200x200&amp;quality=75"></div>
             
            </div>
            <div class="cnt">
              <div class="title">福利社</div>
              <div class="subTitle">今日特价</div>
            </div>
          </a>
        </div>
        <div class="module2">
          <a class="m-activityItem" href="javascript:void(0)"  style="background-image:url(undefined?imageView&amp;thumbnail=343x220&amp;quality=75);background-size:100% 100%;">
            <div class="picWrap">
              <div class="m-lazyload pic m-lazyload-loaded"><img
                  data-original="https://yanxuan.nosdn.127.net/595785d9cb40d68642081e395e542922.png?imageView&amp;thumbnail=200x200&amp;quality=75"
                  data-src="https://yanxuan.nosdn.127.net/595785d9cb40d68642081e395e542922.png?imageView&amp;thumbnail=200x200&amp;quality=75"
                  class="swiper-lazy"
                  src="https://yanxuan.nosdn.127.net/595785d9cb40d68642081e395e542922.png?imageView&amp;thumbnail=200x200&amp;quality=75"></div>
              
            </div>
            <div class="cnt" >
              <div class="title name" >新人拼团</div>
              <div class="subTitle" >1元起包邮</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- 进入列表 -->
  <div class="m-freshmanModule ">
    <div class="moduleTitle brand">
      <span class="txt" >品牌制造商直供</span>
      <a href="#/index/home/list">更多<i class="yo-ico">&#xe52e;</i></a>
    </div>
    <div class="brandcon">
      <ul>
        <li>
          <a href="#" class="a1">
            <span class="tit">海外制造商</span>
            <span class="pri">9.9元起</span>
          </a>
          <a href="#" class="a2">
              <span class="tit">CK制造商</span>
            <span class="pri">29.9元起</span>
          </a>
        </li>
        <li>
            <a href="#" class="a3">
                <span class="tit">新秀丽制造商</span>
            <span class="pri">34.9元起</span>

            </a>
          <a href="#" class="a4">
            <span class="tit">Nine West制造商</span>
            <span class="pri">219元起</span>

        </a></li>
      </ul>
    </div>
  </div>
</main>
<nav class="footnav">
  <div class="home fnavActive">
    <a href="#/index/home">
    <i class="yo-ico">&#xe6ae;</i>
    <span>首页</span>
   </a>
  </div>
  <div  class="classes">
    <a href="#/index/home/classes">
    <i class="yo-ico">&#xe60a;</i>
    <span>分类</span>
  </a>
  </div>
  <div class="goods">
    <a href="#/index/home/goods">
    <i class="yo-ico">&#xe7de;</i>
    <span>识物</span>
  </a>
  </div>
  <div class="carts">
    <a href="#/index/home/carts">
    <i class="yo-ico">&#xe63f;</i>
    <span>购物车</span>
  </a>
  </div>
  <div class="people">
    <a href="#/index/home/people">
    <i class="yo-ico">&#xe7ae;</i>
    <span>个人</span>
  </a>
  </div>
</nav>