<div class="search">
    <div class="searHeader">
        <div class="inp">
            <i class="yo-ico">&#xe615;</i>
            <input type="text" class="inputCon" placeholder="小白鞋">
        </div>
        <a href="#/index/home">取消</a>
    </div>
    <div class="searCon">
        <!-- 搜索栏下拉菜单 -->
        <div class="postRes">
            <ul class="resPost">
            </ul>
        </div>
        <div class="his">
            <span>历史记录</span>
        </div>
        <div class="sbody">
            <span>热门搜索</span>
        </div>
    </div>
    
    <div class="searlistCon">

    </div>   
</div>
